/* RESET BÁSICO */
body {
    font-family: Arial, sans-serf;                                   /*Tipo de letra*/
    background: linear-gradient(to bottom, #0f172a, #1e293b);     /*Cambio de tono de color de arriba a abajo*/
    color: #e2e8f0;                                                 /*Color*/
    margin: 0;                                                        /*Ocupa toda la pantalla*/
}

/* HEADER */
/* HEADER */
header {
    background: #020617;                                        /* Color de fondo oscuro de respaldo mientras carga la imagen */
    padding: 0;                                                   /* Elimina cualquier espacio interno para que el mapa toque los bordes */
    margin: 0;                                                    /* Asegura que no haya separaciones con el navegador o el body */
    overflow: hidden;                                             /* Corta de forma limpia cualquier imperfección de la imagen en los bordes */
    border-bottom: 3px solid #facc15;                           /* Mantiene la línea amarilla decorativa justo debajo del mapa */
}

/* ESTILOS DEL BANNER PIXELADO */
.banner-header {
    display: block;                                               /* Elimina el espacio fantasma de abajo*/
    width: 100%;                                                  /* Obliga a la imagen a estirarse horizontalmente ocupando toda la pantalla y no solo la mitad*/
    height: auto;                                             /* Calcula la altura de forma automática para que el mapa jamás se deforme o se aplaste */
}


/* NAV */
nav {
    background: #1e293b;
    text-align: center;
    padding: 12px;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #facc15;
}

/* video */
iframe {
    display: block;         /* Convierte el iframe en un elemento de bloque */
    margin: 20px auto;      /*Centra el video agregando espacio a su alrededor*/

    width: 100%;            /* Ocupa todo el ancho disponible del contenedor */
    max-width: 1200px;      /* Limita el ancho máximo del video a 1200px */

    height: auto;           /* La altura se ajusta automáticamente */
    aspect-ratio: 16/9;     /* Mantiene la proporción panorámica 16:9 tipo video yt*/

    border: none;           /* Elimina cualquier borde alrededor del video */
    
}

/* MAIN */
main {
    padding: 20px;
}

/* ARTÍCULOS */
article {
    background: #020617;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.2);
}

/* TÍTULOS */
h2 {
    color: #38bdf8;
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 5px;
}

h3 {
    color: #facc15;
}

/* LISTAS */
ul {
    margin-top: 5px;
}

/* IMÁGENES */
img {
    width: 120px;
    border-radius: 10px;
}

/* 👇 PERSONAJES EN FILA */
figure {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px 1%;
    vertical-align: top;
}

/* BOTÓN */
button {
    background: #facc15;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #eab308;
}

/* FOOTER */
footer {
    background: #020617;
    text-align: center;
    padding: 15px;
    border-top: 2px solid #facc15;
}